/**********
  TOP
***********/
#top{
  position:relative;
  z-index:100;
  background-color:#CC3333;
  background-repeat: repeat-x;
  border-color: #CC3333;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  min-width:300px;
  overflow: hidden;
  padding: 0px;
}

#top-titre{
  font-family: Garamond, serif;
  line-height: 0.01em;
  color: #fff9d6;
  font-size: 23px;
  text-align:center;
  text-shadow:4px 4px 4px black;
  margin-top: 20px;
  display:none;
}

#logoWTST{
  cursor: pointer;
  float:left;
  margin-left:10px;
}

 .imglogo{
  width:15px;
  height:25px;
 }

a
{
  text-decoration: none;
}

<<<<<<< HEAD
nav
{
  display: none;
  width:270px;
  text-align:right;
  margin-left:961px;
  min-height: 40px;
  position:relative;
=======
nav{
  display:none;
  margin-left: 1088px;
  min-height: 40px;
  text-align: right;
  width: 270px;
  position:relative; 
  margin-left: 960px;
>>>>>>> 900547550b90c7373ed44f87328a6ea09a058a34
}

nav ul
{
   list-style-type: none;
	
}

nav li
{
   display: inline-block;
   cursor: pointer;
   margin-right: 15px;
   border-radius:10px;
   margin:auto; 
   border: 2px outset #990000;
   border-collapse: collapse;
   padding:4px;
}

nav a
{
   font-size: 1em;
   color: #FFFFFF;
   padding-bottom: 3px;
   text-decoration: none;
}

/**********
  PAGE
***********/
body{
  background-color:#FEC3AC;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.italic{
  font-style:italic;
}

/*****************La carte*****/
#map{
  border: 5px groove #CC3353;
  border-radius: 5px;
  height: 570px;
  width: auto;
}

<<<<<<< HEAD
#OpenLayers_Map_2_OpenLayers_ViewPort{
  display: none;
}


=======
>>>>>>> 900547550b90c7373ed44f87328a6ea09a058a34
/************La listes des onglets****/
#tabs{
  margin-left:25%;
  margin-top:2%;
   width: 51%;
}

#tabs #titre_tabs_onglet{
  font-family: Helvetica,arial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 1%;
  text-decoration: underline;
}

/*******Créer profil***/
#profil_add{
  height: 100%;
  margin-left:35%;
  width: 35%;
  margin-top:10%;
  display:none;
}

#titre_profil{
  font-family: Helvetica,arial;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#profil_add   .profil_add_container{
  margin-left: 1%;
  margin-top: 1%;
}

#profil_add  .profil_add_container #button_insert_profil{
  background-color: #CC3333;
  border-radius: 20px;
  font-style: italic;
  height: 41px;
  margin-left: 3%;
  width: 82px;
}

/****************Recherche hotel***********/
#recherche_hotel{
  height: 100%;
  margin-left: 30%;
  margin-top: 0;
  width: 40%;
  display:none;
}

#titre_recherche{
   font-family: Helvetica,arial;
   font-size: 15px;
   font-weight: bold;
   text-align: center;
}

#recherche_hotel   .profil_add_container{
   margin-left: 1%;
   margin-top: -1%;
}
#recherche_hotel   .profil_add_container #choix_recherche{

}

#recherche_hotel   .profil_add_container #bloc_recherche{
  margin-left: 170px;
  margin-top: -58px;
}

#recherche_hotel  .profil_add_container #button_recherche_hotel{
  background-color: #CC3333;
  border: 2px outset #F8D5A9;
  border-radius: 20px;
  font-style: italic;
  height: 33px;
  width: 89px;
  margin-left: 41%;
  margin-top: 8px;
}

/**********Modifier profil************/
#profil_modif{
	
  height: 100%;
  margin-left: 30%;
  width: 35%;
  margin-top:10%;

}
#profil_modif .profil_modif_container {
  margin-left: 1%;
  margin-top: 0%;
}

#profil_modif .profil_modif_container #profil_name_modif_anc {
 margin-left: 16%;
}

#profil_modif .profil_modif_container #nouveau_pseudo{
  margin-top: 2%;
}

#profil_modif  .profil_modif_container #button_modif_profil{
  background-color: #CC3333;
  border-radius: 20px;
  font-style: italic;
  height: 39px;
  margin-left: 40%;
  margin-top: 5%;
  width: 77px;
}
/********************
  Gestion des listes 
*********************/

/**************Liste des hotels********/
#liste_hotel_conteneur{
  background-color:#CC3333;
  opacity:0.8;
}

#liste_hotel_conteneur #lien_image{
  margin-left: 1%;
  width: 10%;
}
#liste_hotel_conteneur #titre_commentaire{
  color: red;
}
#liste_hotel_conteneur #contenu_hotel{
  color: #FFFFFF;
  font-family: verdana;
  margin-left: 16%;
  margin-top: -12%;
}

/************Listes des commentaire********/
#liste_commentaire_conteneur{
  background-color:#CC3333;
  opacity:0.8;
  color:white;
}

#liste_commentaire_conteneur #lien_imagec{
   margin-left: 2%;
   margin-top: 2%;
   width: 10%;
}

#liste_commentaire_conteneur #bloc_commentaire{
    margin-left: 16%;
    margin-top: -11%;
    width: 80%;
}

#liste_commentaire_conteneur #bloc_commentaire #contenu_commentaire{
  color: #FFFFFF;
  font-family: verdana;
  margin-left: 16%;
  margin-top: -12%;
}

/*******************Liste des favoris****************/
#liste_favori_conteneur{
  background-color:#CC3333;
  opacity:0.8;
  color:white;
}

#liste_favori_conteneur #lien_imagef{
    margin-left: 2%;
    margin-top: 2%;
    width: 7%;
}

#liste_favori_conteneur #bloc_favori{
   margin-left: 13%;
   margin-top: -6%;
   width: 80%;
}


/**********
  PopUp
***********/
#popup_information{
 height:50%;
}

#popup_information #hotel_info{
 font-family: arial;
 font-size: 10px;
}
#popup_information #hotel_info #btn_commande{
 margin-top: 2%;
}

#popup_information #hotel_info  #btncommenter{
  background-color: #CC3333;
  border-radius: 10px;
  font-style: italic;
  font-size:11px;
  font-weight:bold;
}
#popup_information #hotel_info  #btnfavori{
 background-color: #CC3333;
 border-radius: 10px;
 font-size: 11px;
 font-style: italic;
 font-weight: bold;
 margin-left: 14%;
}

#popup{
  margin-left: 65px;
  width: 210px;
}

/**********
  FOOTER
***********/

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  position:fixed;
  right: 0;
  z-index:1030;
  clear: both;
  background-color:#262626;
  background-repeat: repeat-x;
  border: 2px outset #990000;
}

#bottom-titre{
  font-family: Garamond, serif;
  line-height: 0.01em;
  color: #fff9d6;
  font-size: 23px;
  text-align:center;
  text-shadow:4px 4px 4px black;
}


/*******************
  Responsive Design
********************/
@media (max-height: 300px), (max-width: 500px) {

  #top-titre{
   font-size:15px;
  }
 .imglogo{
  width:20px;
  height:12px;
 }
 nav{
  padding:0;
  margin:0px 0px 0px 45px;
 }
 
 #map{
  height:360px;
 }
 
 #tabs{
  margin-left:0%;
  margin-top:0%;
  width:95%;
 }
 
 #profil_add{
  margin-left: 22%;
  margin-top:25%;
 }

  #titre_profil{
  font-size:16px;
  }

 #profil_add  .profil_add_container #button_insert_profil{
  margin-left: 18%;
  margin-top: 10%;
  font-weight:bold;
  width:90px;
 }
 #profil_modif{
  margin-left:22%;
  margin-top:20%;
 } 
 
 #profil_modif .profil_modif_container #profil_name_modif_anc {
  margin-left: 0%;
 }
 
 #profil_modif  .profil_modif_container #button_modif_profil{
  margin-left: 20%;
  margin-top: 10%;
  font-weight:bold
 }
 
  #recherche_hotel{
  margin-left: 0%;
  margin-top:0%;
  width:100%;
  height:70%;
  font-size:14px;
  }
  
  #titre_recherche{
  font-size:12px;
  }
  
  #liste_hotel_conteneur #contenu_hotel{
  margin-left: 16%;
  margin-top:-65px;
  font-size:10px;
  }
  
  #liste_hotel_conteneur #lien_image{
  margin-left: 1%;
  width: 15%;
  margin-top:7%;
  }
  
  #liste_commentaire_conteneur #lien_imagec{
   margin-left: 2%;
   margin-top: 15%;
   width: 15%;
  }
   #liste_commentaire_conteneur #bloc_commentaire{
    margin-left:20%;
    margin-top:-80px;
    width: 80%;
	font-size:10px;
   }
   
   #liste_favori_conteneur #lien_imagef{
    margin-left: 2%;
    margin-top: 2%;
    width: 10%;
   }
   
   #liste_favori_conteneur #bloc_favori{
    margin-left: 13%;
    margin-top:-35px;
    width:80%;
  }
  #recherche_hotel  .profil_add_container #button_recherche_hotel{
    margin-left:50%;
  }
  #recherche_hotel   .profil_add_container #choix_recherche{
    margin-left:0%;
  }
  
  #recherche_hotel   .profil_add_container #bloc_recherche{
    margin-left: 120px;
    margin-top: -58px;
  }

}

header,#map,#tabs,footer, #profil_modif, #profil_add{
  max-width:100%;
}

