
/********************************TOP***************************/
#top
{
  position:relative;
  z-index:100;
  background-color:#CC3333;
  background-repeat: repeat-x;
  border-color: #CC3333;
  padding: 0;
}

.container {

  margin-right: auto;
  margin-left: auto;
  width: auto;
  min-width:300px;
  overflow: hidden;
  padding: 0px;
}

#logoWTST
{
  cursor: pointer;
  float:left;
  margin-left:10px;
}

a
{
  text-decoration: none;
}

nav
{
  display: block;
  width:740px;
  text-align:right;
  margin-left:550px;
  min-height: 40px;
}

nav ul
{
   list-style-type: none;
	
}

nav li
{
   display: inline-block;
   cursor: pointer;
   margin-right: 15px;
   border-radius:10px;
   margin:auto; /* Centre le tableau */
   border: 2px outset #990000; /*#006699; /* Bordure du tableau avec effet 3D (outset) */
   border-collapse: collapse; /* Colle les bordures entre elles */
   padding:4px;
}

nav a
{
   font-size: 1em;
   color: #FFFFFF;
   padding-bottom: 3px;
   text-decoration: none;
}

/***************************************BODY***************************/
body
{
  background-color:#D8D8D8;
  max-height: 100%;
  margin: 0;
  padding: 0;
	
}

#map
{
  width:  1347px;
  height: 620px;
  border: 1px solid #000;
}




/***********************************FOOTER************************/

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index:1030;
  clear: both;
  background-color:#262626;
  background-repeat: repeat-x;
  border: 2px outset #990000;/* Bordure du tableau avec effet 3D (outset) */
}

#top-titre
{
  font-family: Garamond, serif;
  line-height: 0.01em;
  color: #fff9d6;
  font-size: 30px;
  text-align:center;
  text-shadow:4px 4px 4px black;
}




