
/**********
  TOP
***********/
#top{
  position:relative;
  z-index:100;
  background-color:#CC3333;
  background-repeat: repeat-x;
  border-color: #CC3333;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  min-width:300px;
  overflow: hidden;
  padding: 0px;
}

#top-titre{
  font-family: Garamond, serif;
  line-height: 0.01em;
  color: #fff9d6;
  font-size: 23px;
  text-align:center;
  text-shadow:4px 4px 4px black;
  margin-top: 20px;
  display:none;
}

#logoWTST{
  cursor: pointer;
  float:left;
  margin-left:10px;
}
.imglogo{
  height:15px; 
  width:25px;
}

a{
  text-decoration: none;
}

nav{
  display:none;
  margin-left: 961px;
  min-height: 40px;
  text-align: right;
  width: 270px;
  position:relative; 
}

nav ul{
  
  list-style-type: none;	
}

nav li{
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  border-radius:10px;
  margin:auto; 
  border: 2px outset #990000; 
  border-collapse: collapse; 
  padding:4px;
}

nav a{
  font-size: 1em;
  color: #FFFFFF;
  padding-bottom: 3px;
  text-decoration: none;
}
/**********
  PAGE
***********/
body{
  background-color:#FEC3AC;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.italic{
  font-style:italic;
}

/*****************La carte*****/
#map{
  border: 5px groove #CC3353;
  border-radius: 5px;
  height: 600px;
  width: auto;
}

#OpenLayers_Map_2_OpenLayers_ViewPort{
  display: none;
}

/************La listes des onglets****/
#tabs{
  margin-left:25%;
  margin-top:2%;
  width:50%;
}

#tabs #titre_tabs_onglet{
  font-family: Helvetica,arial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 1%;
  text-decoration: underline;
}

/*******Créer profil***/
#profil_add{
  height: 100%;
  margin-left:35%;
  width: 35%;
  margin-top:10%;
  display:none;
}

#titre_profil{
  font-family: Helvetica,arial;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#profil_add   .profil_add_container{
  margin-left: 1%;
  margin-top: 1%;
}

#profil_add  .profil_add_container #button_insert_profil{
  background-color: #CC3333;
  border-radius: 20px;
  font-style: italic;
  height: 41px;
  margin-left: 3%;
  width: 82px;
}

/**********Modifier profil************/
#profil_modif{
	
  height: 100%;
  margin-left: 30%;
  width: 35%;
  margin-top:10%;

}
#profil_modif .profil_modif_container {
  margin-left: 1%;
  margin-top: 0%;
}

#profil_modif .profil_modif_container #profil_name_modif_anc {
  margin-left: 17%;
}

#profil_modif .profil_modif_container #nouveau_pseudo{
  margin-top: 2%;
}

#profil_modif  .profil_modif_container #button_modif_profil{
  background-color: #CC3333;
  border-radius: 20px;
  font-style: italic;
  height: 39px;
  margin-left: 40%;
  margin-top: 5%;
  width: 77px;
}

/**********
  PopUp
***********/
#popup_information{
 height:50%;
}

#popup_information #hotel_info{
 font-size:11px;
 font-family:arial;
}
#popup_information #hotel_info  #btncommenter{
 background-color: #CC3333;
 border-radius: 10px;
 font-size: 11px;
 font-style: italic;
 height: 39px;
 margin-left: -2px;
 margin-top: 2%;
 width: 68px;
}
#popup_information #hotel_info  #btnfavori{
 background-color: #CC3333;
 border-radius: 10px;
 font-size: 11px;
 font-style: italic;
 height: 39px;
 margin-left: -2px;
 margin-top: 2%;
 width: 68px;
}



/**********
  FOOTER
***********/

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index:1030;
  clear: both;
  background-color:#262626;
  background-repeat: repeat-x;
  border: 2px outset #990000;
}

#bottom-titre{
  font-family: Garamond, serif;
  line-height: 0.01em;
  color: #fff9d6;
  font-size: 23px;
  text-align:center;
  text-shadow:4px 4px 4px black;
}

/*******************
  Responsive Design
********************/
@media (max-height: 300px), (max-width: 500px) {

  #top-titre{
   font-size:15px;
  }
 .imglogo{
  width:20px;
  height:12px;
 }
 nav{
  padding:0;
  margin:0px 0px 0px 45px;
 }
 
 #map{
  height:360px;
 }
 
 #tabs{
  margin-left:0%;
  margin-top:0%;
  width:95%;
 }
 
 #profil_add{
  margin-left: 22%;
  margin-top:25%;
 }

  #titre_profil{
  font-size:16px;
  }

 #profil_add  .profil_add_container #button_insert_profil{
  margin-left: 18%;
  margin-top: 10%;
  font-weight:bold;
  width:90px;
 }
 #profil_modif{
  margin-left:22%;
  margin-top:20%;
 } 
 
 #profil_modif .profil_modif_container #profil_name_modif_anc {
  margin-left: 0%;
 }
 
 #profil_modif  .profil_modif_container #button_modif_profil{
  margin-left: 20%;
  margin-top: 10%;
  font-weight:bold
 }
}

header,#map,#tabs,footer, #profil_modif, #profil_add{
  max-width:100%;
}

