#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 60px;
  height: 19px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 61px;
  height: 19px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Parametres {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 19px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}