#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec #s-Parametres {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-098bcb4b-a254-4e8f-b2c8-31a05851f1ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}