#s-9986a070-9378-4afe-8ec1-996370adf10d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986a070-9378-4afe-8ec1-996370adf10d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986a070-9378-4afe-8ec1-996370adf10d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986a070-9378-4afe-8ec1-996370adf10d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9986a070-9378-4afe-8ec1-996370adf10d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}